<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Log in</title>
</head>
<body>
  <button id='themetoggle'>Toggle theme</button>
  <input type="text" id="username" placeholder="Username">
  <br>
  <input type="password" id="password" placeholder="Password">
  <br>
  <button id="loginbtn">Log in</button>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/localstoragesave.js') }}"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>