<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
  <title>User</title>
</head>
<body>
  <button id='themetoggle'>Toggle theme</button>
  <h1 id="usernameheader"></h1>
  <p id="userlevel"></p>
  <a href="/world" id="visitworld" class="onlyifloggedin">Go to world</a>
  <button id='logout' class='onlyifloggedin'>Log out</button>
  <script>
    var userdata = {{ udata | safe }}
  </script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/user.js') }}"></script>
</body>
</html>